/* Box sizing rules */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove default margin */
body,
h1 p {
  margin: 0;
}

/* Set core root defaults */
html {
  font-size: 10px;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-size: 1.8rem;
  font-family: "Outfit", sans-serif;
  background: var(--neutral-main-bg);
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Remove smooth scroll for people that prefer not to see it */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    scroll-behavior: auto !important;
  }
}

/* Colors */
:root {
  --primary-soft-blue: hsl(215, 51%, 70%);
  --primary-cyan: hsl(178, 100%, 50%);
  --neutral-main-bg: hsl(217, 54%, 11%);
  --neutral-card-bg: hsl(216, 50%, 16%);
  --neutral-line: hsl(215, 32%, 27%);
}

/* Typography */
h1,
.author_name {
  color: white;
}

p,
.time,
.creation-of {
  color: var(--primary-soft-blue);
}

.price {
  color: var(--primary-cyan);
}
/* Main and Card */
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: var(--neutral-card-bg);
  width: 32.7rem;
  min-height: 54.2rem;
  border-radius: 1.2rem;
  box-shadow: 0 4.2rem 2.8rem rgba(0, 0, 0, 0.1);
}

/* Content */
.card > * {
  margin: 0 7%;
}
.ethereum {
  max-width: 86%; /* 100% - (7% * 2) => 7% margin on both sides */
  margin: 7%;
  border-radius: 1.2rem;
}

.card h1 {
  margin: 8% 7%;
}

.card p {
  margin: 5% 7%;
}

.card div {
  margin: 3% 7%;
  display: flex;
  align-items: center;
}

.information {
  justify-content: space-between;
}

.price::before {
  content: url(images/icon-ethereum.svg);
}

.time::before {
  content: url(images/icon-clock.svg);
}

.author_avatar {
  width: 3.2rem;
  border: white;
  margin-right: 4%;
}

.creation-of {
  margin-right: 1.5%;
}
